@import url('https://fonts.cdnfonts.com/css/antipasto-pro');
@import url('https://fonts.cdnfonts.com/css/simply-rounded');


body{
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;  
    
}      

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*MENU LATERAL*/
#menu-lateral{
    width: 60px;
    height: 90%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 20px 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}

#menu-lateral.expandir{
    width: 300px;
}

#header-menu{
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #D9D9D9;
    width: 90%;
}

#header-menu > div{
    margin-left: 10px;
}

#header-menu > div > h1{
    font-family: 'Simply Rounded', sans-serif;
    font-size: 25px;
    color: #383838;
}

#header-menu > div > h2{
    font-family: 'Antipasto Pro', sans-serif;
    font-size: 15px;
    color: #A2A2A2;
}

.lista-paginas{
    margin-bottom: 500px;
    list-style-type: none;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.item-menu > a{
    color: #383838;
    font-family: 'Antipasto Pro', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.item-menu{
    padding: 10px 0;
}

.txt-link{
    margin-left: 10px;
}

#menu-lateral > hr{
    width: 90%;
    border-bottom: 1px solid #D9D9D9;
    margin: 20px 0;
}

.footer-menu{
    width: 90%;
    list-style-type: none;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-menu > .item-menu > a > .icon{
    margin-left: 6px;
}

.footer-menu > .item-menu{
    width: 190px;
}

#btnMenu{
    position: fixed;
    left: 70px;
    top: 10px;
    cursor: pointer;
    transform: rotate(0deg);
}





 h2 {
    font-family: 'Antipasto Pro';
    font-size: 50px;
    color: #383838; 
    margin-left: 10%;
    margin-top: 2%;
    
}

#agendamentos > h1{
    font-family: 'Antipasto Pro';
    font-size: 35px;
    color: #5ac5ff;
    margin-left: 60%;
}







.AgendaText {
    font-family: 'Antipasto Pro';
    color: #383838;
    margin-left: 216px;
    margin-top: 220px;
}

.nome {
    color: #a2a2a2;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-left: 216px;
    padding-right: 50px;
    background-image: url(imagens/user.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) left;
    padding-left: 30px;
}

.RP {
    color: #a2a2a2;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

#lista {
    color: #a2a2a2;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-left: 216px;
}

.RM {
    color: #a2a2a2;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

.data {
    color: #a2a2a2;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-left: 216px;
}

.hora {
    color: #a2a2a2;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-left: 216px;
}

.btn-confirmar {
    background-color: #5ac5ff;
    color: #ffffff;
    font-size: 20px;
    margin-left: 15%;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

