@import url('https://fonts.cdnfonts.com/css/antipasto-pro');
@import url('https://fonts.cdnfonts.com/css/simply-rounded');


body{
    margin: 0;
    padding: 0;
    background-color:#d9d9d9;
}        

h2{
    font-family: 'Antipasto Pro';
    font-size: 50px;
    color: #383838; 
    height: 60px;
    width: 371px;
    margin-left: 198px;
    margin-top: 63px;
}

.pt1 {
    font-family: 'Antipasto Pro'; 
    color: #383838;
    display: flex;
    margin-top: 1%;
    margin-left: 0%;
}
.telefone {
    margin-top: 1%;
    margin-left: 45%;
}
.dn {
    margin-top: 1%;
    margin-left: 31%;
}

.pt2 {
    font-family: 'Antipasto Pro'; 
    color: #383838;
    display: flex;
    margin-top: 1%;
    margin-left: 0%;
}
.cpf {
    margin-top: 1%;
    margin-left: 45%;
}

.nome {
    font-family: 'Antipasto Pro'; 
    color: #383838;
   
    margin-top: 1%;
}

h3 {
    font-family: 'Antipasto Pro';
    font-size: 25px;
    color: #383838; 
    height: 29px;
    width: 414px;
    margin-left: 38%;
    margin-top: 2%;
    
}




th {
    background-color: #5ac5ff ;
    width: 100%;
    font-family: 'Antipasto Pro';
    color: #ffff;
    padding: 10px;
}



#check {
    display: none;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.barra {
    background-color: #ffff;
    border-radius:10px;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all .2s linear;
    left: -300px;
}

#check:checked~.barra {
    transform: translateX(300px);
}

.itens-barra {
    margin-top: 100px;
    border:none;
    padding:80px;
    width:100%;
    border-radius:10px;
    color:white;
    font-size:15px
}


form{
    background-color: #ffff;            
    position: absolute;
    width: 1188px;
    height: 600px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius:15px;
}
input{
    padding:15px;
    border:none;
    outline:none;            
    border-radius:5px;
    font-size:15px
}


.ViddaBarra {
    font-family: 'Simply Rounded';
    width: 147px;
    height: 47px;
    color: #383838;
    display: flex;
    margin-left: 10px;
    top: 100px;
}

.Subtitle {
    font-family: 'Antipasto Pro';
    width: 250px;
    height: 29px;
    color: #a2a2a2;
    display: flex;
    margin-left: 10px;
    top: 100px;
}

.btn-agendamentos {
    font-family: 'Antipasto Pro';
    font-size: 18px;
    color: #383838;
}

.btn-agendar {
    font-family: 'Antipasto Pro';
    font-size: 18px;
    color: #383838;
}

#logo {
    padding: 10px;
    top: 100px;
}

.menu {
    background-color: #ffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;
}

.hamburguer {
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}
.hamburguer:after {
    bottom: -10px;
}